* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline;
    margin-left: 8px;
}